.delete {

}

.value {
  /* text-transform: capitalize; */
  word-wrap:break-word;
}

.item {
  display: flex;
  justify-content: space-between;
}

.input {
  display: flex;
  font-size: 1rem;
  /* background-color: rgb(173, 230, 227); */
  border: none;
}