header {
  color: white;
  font-family: 'Pacifico', cursive;
  font-style: italic;
  background: #0067A3;
  border-radius: 5px;
  margin: 10px;
  text-align: center;

  box-shadow: 0px 0px 10px black;
}